<table>
	<thead>
		<tr>
			<td>Name</td>
			<td>Actions</td>
		</tr>
	</thead>
	<tbody>
		<% @projects.each do |p| %>
			<tr>
				<td><a href="/projects/<%= p.id %>"><%= p.name %></a></td>
			</tr>
		<% end %>
	</tbody>
</table>