<table>
	<thead>
		<tr>
			<td>Name</td>
			<td>Actions</td>
		</tr>
	</thead>
	<tbody>
		<% @projects.each do |p| %>
			<tr>
				<td><a href="/projects/<%= p.id %>"><%= p.name %></a></td>
				<td><a href="/projects/edit/<%= p.id %>">Edit</a></td>
				<td><a data-method="DELETE" href="/projects/delete/<%= p.id %>" data-confirm="êtes-vous sur ?">Delete</a></td>
			</tr>
		<% end %>
	</tbody>
</table>