<%= link_to 'Back', :back %>
<table>
	<thead>
		<tr>
			<td>Name</td>
			<td>Description</td>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td><%= @project.name %></td>
				<td><%= @project.description %></td>
			</tr>
	</tbody>
</table>